POSTGRES_PASSWORD=
REGISTRATION_SHARED_SECRET=
TURN_SHARED_SECRET=
SERVER_NAME=matrix.ru.potapovotrap.online
PUBLIC_BASEURL=https://matrix.ru.potapovotrap.online/
CHAT_DOMAIN=chat.ru.potapovotrap.online
TURN_DOMAIN=turn.ru.potapovotrap.online
SERVER_IP=176.109.104.31
ADMIN_TOKEN=
MAX_UPLOAD_SIZE=200M
